

/****************HEADER**********************/

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top{
    display:flex;  
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-wrap: wrap;
}
.logo img{
    height: 50px;
}

.contact{
    width: 100%;
}
.contact-top{
    display:flex;
    gap: 50px;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    font-size: 12px;
}

.mail, .tel{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-right: 70px;
}

.mail .bi, .tel .bi{
  font-size: 22px;
  color: red;
}

.mail .bi{
    rotate:-35deg;
}

/*********************NAVBAR***************************/

.navbar{
    background-color: #00353F;
}

.navbar a{
    color: white;
}
.navbar-nav :last-child{
    color: red;
}

.navbar-nav {
    gap: 40px;
    font-size: 12px;
    margin-left: 40px;
    text-align: center;
}

.search{
    margin-right: 40px;
    display: flex;
    align-items: center; 
}

.search .d-flex{
    height: 30px;
    position: relative;
    display: inline-flex;
    justify-content: end;
}
.search .form-control{
    width: 350px;
}

.btn {
    position: absolute;
    height: 30px; 
}

.line{
    background-color: red;
    height: 4px;
}

/**************************MAIN**********************/

main{
    position: absolute;
    margin-top: 129px;
    width: 100%;
    height: 100%;
}

/***************Baniere********************/

.container-baniere .baniere img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    flex-wrap: wrap;
}

 #garage{
    font-size: 30px;
}

/**********************PRESTATION***************************/

article {
    margin: 50px 0 0 100px;
}

/************************CAROUSEL PRESTATION*********************/

.carousel .carousel-indicators button{
    background-color: red;
}
.prestation{
    height: 350px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
 
}

.prestation h3{
    font-size: 16px;
    font-weight: bold;
}
.prest{
    width: 220px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #d6d6d6;
   
}
.prestation img{
    height: 170px;
    width: 215px;
    object-fit: cover;
    margin-bottom: 5px;
}

.btn-contact{
    border-radius: 20px;
    background-color: white;
    color: red;
    border: 1px solid red;
    margin-top: 30px;
    width: 150px;
}
.btn-contact a{
    color: red;
    text-decoration: none;
}


.carousel {

    height: 400px;
}

/*************************AVIS*****************/

.title-avis button {
    border: none;
    background-color: white;
}

.avis{
    display: flex;
    justify-content: center;  
}

/***********************Footer***************************/

.container-footer{
    margin-top: 100px;
    bottom: 0;
    background-color: #00353F;
    position: relative;
}
.footer{
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 250px;
    font-size: 10px;
    text-align: center;
    color: white;
}

/**************************ACHAT VOITURE****************************/


.title-voiture {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-filter{
    display: flex;    
    height: 80px;
    font-size: 15px;
    margin-top: 10px;
}

.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
}

.recherche input{
    width: 90px;
}

/*************************LOGIN************************/

/**************BACK************/

.back a{
    color: black;
    text-decoration: none;
}

.back{  
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
}

.logo-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.logo-login img{
    height: 200px;
    width: 400px;
}

.connexion{
    display: flex;  
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}

.mdp{
    margin-top: 10px;
}

.identifiant{
    display: flex;
    gap: 27px;
}

.connexion .btn{
    background-color: #00353F;
    position: relative;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.connexion a{
    color: white;
    text-decoration: none;
}

/*************AVIS**************/

.container-avis{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-avis form{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.container-avis form ul{
    list-style-type: none;
}
.container-avis textarea {
    width: 400px;
    height: 100px;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-messages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 5px;
    height: 400px;  
    justify-items: center;
    overflow: auto;
    margin-top: 15px;
 
}

.message {
    width: 300px;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 150px;
    height: 150px;
}


/***************************Voiture************************/

.resultat {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    height: 100%;
}

.img-car {
    width: 250px;
    height: 200px;
    object-fit: fill;
}


/***************************CONTACT**********************/

 .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
 .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
 .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
 .contact-form .form-item{
    margin-bottom: 30px;
}

 .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px 25px;
    font-size: 16px;
}

 .contact-form .form-item textarea.form-control{
    height: 140px;
}

 .contact-form .btn{
    height: 50px;
    padding: 0 50px;
    border: 1px solid black;
}

