@media (max-width: 768px) {


    .mail,  header .navbar, .line, .baniere, .carousel, .title-prestation span
    {
        display: none;
    }
    .d-lg-none {
        display: block}
    
    .container-prestation {
        background-color: #D4D4D4; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-right: 25%;
    }
   .prestation2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   }

   .prest{
    border: 1px solid black;
    width: auto;
   }
}
